/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
}
/* common style or utilites */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}
/*--------------
navegation bar
-----------------*/

header {
  background-color: #562eff;
  display: flex;
}
.nav-container {
  width: 870px;
  height: 72px;
  margin: auto;
  justify-content: space-between;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-wrapper {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  justify-content: space-between;
}
.nav-logo-wrapper img {
  width: 40px;
  height: 51px;
  margin-right: 10px;
}
.nav-logo-wrapper h4 {
  font-size: 24px;
  color: #ffffff;
}
.nav-menu-wrapper ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}
.nav-menu-wrapper ul li {
  list-style: none;
  margin-right: 10px;
}
.nav-menu-wrapper ul li a {
  color: white;
  text-decoration: none;
}

/* top players styles */
.top-players {
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  color: #ffffff;
}
.section-title {
  font-size: 24px;
  line-height: 36px;
  color: #562eff;
  margin-top: 3px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.players {
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  font-size: 18px;
  margin-left: 16px;
}
/* --------------
top blog styles 
----------------*/
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
  grid: column gap 46px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
  margin-bottom: 6px;
  max-width: 180px;
}
.blog-3 {
  max-width: 220px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
  margin: 0;
}
.blog-author a {
  font-size: 16px;
  color: #562eff;
  text-decoration: none;
}
/*-------------
 courses style 
---------------*/
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}
.course {
  width: 252px;
  padding: 13px 16px 20px 12px;
  border-radius: 10px;
  height: 260px;
}
.course:hover {
  box-shadow: 0px 5.34px 13.36px rgba(0, 0, 0, 0.05);
}
.course .course-banner img {
  width: 100%;
  height: 104px;
}
.course-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-title {
  color: #1e1e1e;
  font-size: 20px;
  font-family: "Roboto";
  margin-bottom: 7px;
}
.course-author {
  margin: 0;
  color: #ed6b4f;
}
.course-info {
  margin-top: 20px;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.rating-star span {
  color: #a2a2a2;
  font-size: 14.6913px;
  margin-left: 10px;
}
.course-duration {
  /* width: 95px; */
  /* height: 30px; */
  padding: 4px 6px;
  color: #ed6b4f;
  align-items: center;
  justify-content: center;
  border-radius: 14.6913px;
  background-color: #ffe4e8;
}
.course-duration span {
  font-size: 15px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

/* ul section style start*/
#ul-section {
  margin-bottom: 1rem;
  background-color: rgb(34, 172, 172);
  display: flex;
  justify-content: space-around;
}
.ul-wrapp {
  text-align: left;
}
#ul-list {
  padding-left: 10px;
  list-style: none;
}
#li-item {
  font-size: 1.3rem;
  color: #ffffff;
}
.click-me-btn {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: rgb(34, 172, 172);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 30px;
  margin-top: 1rem;
}

#input-wrap {
}
#ul-input {
  padding: 0.5rem 0rem;
  border-radius: 8px;
  border: 1px solid white;
  color: #b3adad;
  font-size: 1rem;
  padding-left: 10px;
}

/* ul section style end*/
/*-----------------
   media Queries
-------------------*/
/* Mobile Devices */
/* @media only screen and (max-width:768px) {
    .container{
        width:100%;

    }
    .player {
        display: flex;
        align-items: center;
        width: 260px;
    }
    .players {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    /* .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    
    }
    .player, .blog{
        flex-direction: column;
     
    }   */
/* Tablet device */
/* @media only screen and (max-width:992px){
    .container{
        width:100%;
    }
    
    .players, .courses{
        grid-template-columns: repeat(2,1fr);
        
    }
    
} */
@media only screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .players {
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .player {
    display: flex;
    align-items: center;
    width: 250px;
    margin-left: 35px;
  }
  .section-title {
    text-align: center;
  }
  .blogs,
  .courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .blog {
    display: flex;
    width: 400px;
    margin: 0 30px;
  }
  .course {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .blog {
    display: flex;
    width: 300px;
    margin: 0 30px;
    align-items: center;
    margin-bottom: 30px;
    flex-direction: column;
  }

  .blog .thumbnail img {
    width: 270px;
    height: 145px;
  }
  .blog-info {
    margin-left: 0;
  }
  .blog-title {
    margin-top: 5px;
  }
}
